@font-face {
    font-family: "bitter";
    src: url("font/Bitter-Bold.ttf");
}
body{
    font-family: "Segoe UI";
    overflow-x: hidden;
}
header{
    background: rgba(57, 68, 75, 0.51);
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    z-index: 1;
    align-items: center;
    width: 100vw;
}
button{
    cursor: pointer;
}
.navHeader{
    font-size: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.titleHeader{
    color: #ffffff;
    margin-left: 10px;
}
.navHeader a{
    color: #ffffff;
    text-decoration: none;
}
.navHeader a:hover{
    color: #4bcaff;
}
.eltNavHeader{
    margin-left: 15px;
    margin-bottom: 15px;
}
.letterE{
    color: #6fa2cc;
}
.container{
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: 100vw;
}
.imgPortfolio{
    width: 100%;
    height: 100%;
    animation-name: animImg;
    animation-duration: 0.6s;
}
.imgPortfolio:hover{
    background: #3f484f;
}
@keyframes animImg{
    0%{opacity: 0; width: 70%; height: 70%; margin: 25px}
}
.hero{
    display: flex;
    flex-direction: column;
    background-image: url('img/hero/image_hero.png');
    background-repeat: no-repeat;
    background-size: 2180px 100%;
    align-items: center;
    justify-content: center;
    padding: 8% 18%
}
.textHero1{
    margin-top: 15vh;
}
.textHero2 {
    margin-top: -8px;
}
.textHero1, .textHero2{
    font-size: 1.5em;
    background: rgba(75, 86, 94, 0.64);
    color: white;
}
#services{
    background: #4bcaff;
}
.titleService{
    color: #ffffff;
}
.contentService{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
    grid-template-rows: 50% 50%;
    grid-gap: 10px;
    margin-top: 20px;
}
.subTitleServices{
    font-size: 1.3em;
    margin-top: 10px;
    color: #ffffff;
}
.textServices{
    font-size: 1em;
    color: #ffffff;
}
.titlePortfolio{
    color: #000;
}
h2{
    font-weight: inherit;
    font-size: 2em;
}
h2::after{
    content: "";
    display: block;
    margin-top: 8px;
    width: 45px;
    height: 2px;
}
.titleService::after, .titleSection::after, .titleTwitter::after, .titleWhoIs::after, .titleContact::after{
    background: #ffffff;
}
.titlePortfolio::after, .titleTestimonials::after{
    background: #000;
}
.portfolioheader{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
}
.navPortfolio{
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.navPortfolio button:hover{
    color: #4bcaff;
}
.btnPortfolio{
    font-size: 1.2em;
    background: inherit;
    border: 1px solid #ffffff;
}
.btnPortfolio:hover, .buttonClick{
    background: inherit;
    color: #4bcaff;
}
.imagesPortfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(246px, 2fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 2fr));
    grid-gap: 34px;
    max-width: 1356px;
    align-items: center;
}
.plus{
    width: 100%;
    height: 100%;
}
.section{
    background: #515f67;
    color: #ffffff;
}
.sectionContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    align-items: center;
    grid-gap: 40px;
}
.blockSection1{
    width: 80%;
    display: flex;
    flex-direction: column;
    
}
.blockSection2{
    width: 100%;
    display: flex;
}
.sectionVideo{
    width: 160px;
    height: 90px;
}
.textSection1, .textSection2,.btnVisit{
    font-size: 1em;
}
.btnVisit{
    margin-top: 5%;
    background: inherit;
    border: 2px solid black;
    min-width: 150px;
    padding: 15px;
    width: 15vw;
}
.btnVisit:hover{
    background: #2c363c;
}
.twitter{
    background: #4bcaff;
    color: #ffffff;
}
.textTwitter{
    font-size: 2em;
}
.headerTwitter{
    display: flex;
    justify-content: space-between;
}
.cheescake{
    font-weight: bold;
}
.whoIs{
    background-image: url('img/who_is/image_whoIs.png');
    background-repeat: no-repeat;
    background-size: 2180px 100%;
    color: #ffffff;
}
.contentWhoIs{
    font-size: 1em;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 50px;
}
.blockWhoIs1{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.blockWhoIs2{
    width: 80%;
}
.icons{
    margin: 10px;
    padding: 15px;
    border: 2px solid #ffffff;
}
.headerTestimonials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.quote{
    font-family: "bitter";
    font-size: 4em;
}
.textTestimonials{
    font-size: 2em;
    line-height: 40px;
}
.WalterWhite{
    color: #4bcaff;
}
#contact{
    font-size: 20px;
    color: #ffffff;
    background-image: url('img/contact/image_contact.png');
    background-repeat: no-repeat;
    background-size: 2180px 100%;
}
.blockContact1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-column-gap: 15%;
}
.blockInputsNameEmail{
    display: flex;
    flex-direction: column;
    width: 80%;
}
ul{
    padding-left: 0;
    list-style: none;
}
input{
    color: #ffffff;
    font-size: 20px;
    width: 100%;
    background: inherit;
    border: 2px solid #ffffff;
    text-align: center;
}
.fullName{
    margin-top: 30px;
}
.textContact1{
    margin-top: 50px;
}
.email, .textContact2{
    margin-top: 50px;
}
.textContact1, .textContact2{
    width: 80%;
    font-size: 0.8em;
}
.inputText, .inputEmail{
    height: 60px;
}
.inputMessage{
    height: 200px;
}
.btnMessage{
    font-size: 1em;
    min-width: 150px;
    margin-top: 50px;
    width: 30%;
    height: 50px;
    background: #4bcaff;
    border: 0;
    color: #ffffff;
}
footer{
    background: #353f47;
}
.contentFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: row wrap;
}
.navFooter{
    display: flex;
    flex-direction: column;
}
.navFooter a{
    text-decoration: none;
    color: #515f67;
}
.navFooter a:hover{
    color: #4bcaff;
}
.separateFooter{
    display: none;
    margin: 5% 0;
    color: #515f67;
}
.footerRight{
    color: #515f67;
}
#services, #portfolio, .section, .twitter, .testimonials, #contact,footer,.whoIs{
    padding: 3% 6%;
}
@media(min-width: 320px) {
    #services, #portfolio, .section, .twitter, .testimonials, #contact,footer{
        padding: 3% 18%;
    }
    header{
        padding: 0 18%;
        width: 64vw;
        flex-direction: column;
    }
    .navHeader{
        flex-flow: row wrap;
    }
    .whoIs{
        padding: 5% 18%;
    }
}
@media(min-width: 481px){
    .blockSection1, .blockWhoIs1,.blockWhoIs2, .blockInputsNameEmail, .textContact1, .textContact2{
        width: 100%;
    }
    .sectionVideo{
        width: 640px;
        height: 360px;
    }
}
@media(min-width: 641px){
    .textHero1, .textHero2{
        font-size: 3em;
    }
    .separateFooter{
        display: block;
        margin: 0 5%;
    }
    .navFooter{
        flex-direction: row;
    }
}
@media(min-width: 1025px) {
    header{
        flex-direction: row;
    }
    .navHeader{
        margin-left: 27vw;
    }
    .navHeader a:hover{
        border: 2px solid #4bcaff;
        padding: 5px 15px;
    }
    .portfolioheader{
        flex-direction: row;
    }
    .btnPortfolio:hover, .buttonClick{
        background: inherit;
        color: #4bcaff;
        border: 2px solid #4bcaff;
    }
    .navPortfolio{
        margin-left: 27vw;
    }
}