@font-face {
    font-family: "bitter";
    src: url("font/Bitter-Bold.ttf");
}
body{
    font-family: "Segoe UI";
}
header{
    background: rgba(57, 68, 75, 0.51);
    height: 15vh;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1;
    align-items: center;
    padding: 0 18%;
    width: 64vw;
}
button{
    cursor: pointer;
}
.titleHeader{
    color: #ffffff;
    margin-left: 10px;
}
.navHeader a{
    color: #ffffff;
    text-decoration: none;
}
.navHeader a:hover{
    color: #4bcaff;
    border: 2px solid #4bcaff;
    padding: 5px 15px;
}
.navHeader{
    width: 100%;
    margin-left: 27vw;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.letterE{
    color: #6fa2cc;
}
.container{
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: 100vw;
}
.imgPortfolio{
    width: 100%;
    height: 100%;
    animation-name: animImg;
    animation-duration: 0.6s;
}
.imgPortfolio:hover{
    background: #3f484f;
}
@keyframes animImg{
    0%{opacity: 0; width: 70%; height: 70%; margin: 25px}
}
.hero{
    display: flex;
    flex-direction: column;
    background-image: url('img/hero/image_hero.png');
    background-repeat: no-repeat;
    background-size: 2180px 100%;
    align-items: center;
    justify-content: center;
    padding: 8% 18%
}
.textHero1{
    margin-top: 15vh;
}
.textHero2 {
    margin-top: -8px;
}
.textHero1, .textHero2{
    font-size: 3em;
    background: #4b565e;
    color: white;
}
#services{
    background: #4bcaff;
}
.titleService{
    color: #ffffff;
}
.contentService{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
    grid-template-rows: 50% 50%;
    grid-gap: 10px;
    margin-top: 20px;
}
.subTitleServices{
    font-size: 1.3em;
    margin-top: 10px;
    color: #ffffff;
}
.textServices{
    font-size: 1em;
    color: #ffffff;
}
.titlePortfolio{
    color: #000;
}
h2{
    font-weight: inherit;
    font-size: 2em;
}
h2::after{
    content: "";
    display: block;
    margin-top: 8px;
    width: 45px;
    height: 2px;
}
.titleService::after, .titleSection::after, .titleTwitter::after, .titleWhoIs::after, .titleContact::after{
    background: #ffffff;
}
.titlePortfolio::after, .titleTestimonials::after{
    background: #000;
}
.portfolioheader{
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}
.navPortfolio{
    width: 100%;
    margin-left: 27vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.navPortfolio button:hover{
    color: #4bcaff;
}
.btnPortfolio{
    background: inherit;
    border: 1px solid #ffffff;
}
.btnPortfolio:hover, .buttonClick{
    background: inherit;
    color: #4bcaff;
    border: 2px solid #4bcaff;
}
.imagesPortfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(246px, 2fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 2fr));
    grid-gap: 34px;
    max-width: 1356px;
    align-items: center;
}
.plus{
    width: 100%;
    height: 100%;
}
.section{
    background: #515f67;
    color: #ffffff;
}
.sectionContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    align-items: center;
}
.blockSection1{
    width: 80%;
    display: flex;
    flex-direction: column;
    
}
.blockSection2{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textSection1, .textSection2,.btnVisit{
    font-size: 1em;
}
.imgVimeo{
    width: 40vw;
    height: 20vw;
    max-width: 350px;
    max-height: 200px;
}
.btnVisit{
    margin-top: 5%;
    background: inherit;
    border: 2px solid black;
    min-width: 150px;
    padding: 15px;
    width: 15vw;
}
.btnVisit:hover{
    background: #2c363c;
}
.twitter{
    background: #4bcaff;
    color: #ffffff;
}
.textTwitter{
    font-size: 2em;
}
.headerTwitter{
    display: flex;
    justify-content: space-between;
}
.cheescake{
    font-weight: bold;
}
.whoIs{
    background-image: url('img/who_is/image_whoIs.png');
    background-repeat: no-repeat;
    background-size: 2180px 100%;
    color: #ffffff;
}
.contentWhoIs{
    font-size: 1em;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 50px;
}
.icons{
    margin: 10px;
    padding: 15px;
    border: 2px solid #ffffff;
}
.headerTestimonials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.quote{
    font-family: "bitter";
    font-size: 4em;
}
.textTestimonials{
    font-size: 2em;
    line-height: 40px;
}
.WalterWhite{
    color: #4bcaff;
}
#contact{
    font-size: 20px;
    color: #ffffff;
    background-image: url('img/contact/image_contact.png');
    background-repeat: no-repeat;
    background-size: 2180px 100%;
}
.blockContact1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-column-gap: 15%;
}
.blockInputsNameEmail{
    display: flex;
    flex-direction: column;
}
ul{
    padding-left: 0;
    list-style: none;
}
input{
    color: #ffffff;
    font-size: 20px;
    width: 100%;
    background: inherit;
    border: 2px solid #ffffff;
    text-align: center;
}
.fullName{
    margin-top: 30px;
}
.textContact1{
    margin-top: 50px;
}
.email, .textContact2{
    margin-top: 50px;
}
.textContact1, .textContact2{
    font-size: 0.8em;
}
.inputText, .inputEmail{
    height: 60px;
}
.inputMessage{
    height: 200px;
}
.btnMessage{
    min-width: 150px;
    margin-top: 3%;
    width: 30%;
    height: 50px;
    background: #4bcaff;
    border: 0;
    color: #ffffff;
}
footer{
    background: #353f47;
}
.contentFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navFooter{
    display: flex;
    flex-direction: row;
}
.navFooter a{
    text-decoration: none;
    color: #515f67;
}
.navFooter a:hover{
    color: #4bcaff;
}
.separateFooter{
    margin: 0 5%;
    color: #515f67;
}
.footerRight{
    color: #515f67;
}
#services, #portfolio, .section, .twitter, .testimonials, #contact,footer{
    padding: 3% 18%;
}
.whoIs{
    padding: 5% 18%;
}